h1{
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}


.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 1px;
}

.grid-item {
    height: auto;
    background-color: darkkhaki;
    /*border: 1px solid rgba(255, 255, 255, 0.8);*/
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    font-size: 0.8em;
}
