
body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(244, 220, 66, 0.3)
}

h1{
    font-size: 1.2em;
}

p {
    font-size: .9em;
    margin-bottom: 0;
}

.haku{
    margin-bottom: 20px;

}

.button{
    padding: 7px;
    background-color: rgb(244, 220, 66);
    margin-top: 20px;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: .9em;

}


.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    /*border: 3px solid rgba(244, 220, 66, 1);*/
    padding: 3px;
}


.grid-item {
    height: auto;
    /*background-color: rgb(240, 255, 135);*/
    background-color: rgb(244, 220, 66);
    /*border: 1px solid rgba(255, 255, 255, 0.8); */
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    font-size: 0.8em;
}

.grid-item:nth-of-type(8n+1), .grid-item:nth-of-type(8n+2),
.grid-item:nth-of-type(8n+3), .grid-item:nth-of-type(8n+4) {
    background-color: rgba(244, 220, 66, 0.7);
}